html,
body {
  padding: 5;
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img{
  image-rendering: -webkit-optimize-contrast;
  object-fit: contain;
  width: auto;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
